<a href="#site-main" class="banner__skip">Skip to main content</a>

<div id="site-banner" class="banner">
  <div class="site__container">
    <header class="banner__header" role="banner">
      <div class="banner__brand">
        <a href="/" title="{{ .Site.Params.brand.title }} Home">
          <span class="banner__name banner__name--long">
            {{- if .Site.Params.brand.logo }}
            <img src="{{ .Site.Params.brand.logo }}" alt="{{ .Site.Params.brand.name | default .Site.Title }}" class="brand__logo">
            {{- else }}
            {{ .Site.Params.brand.name | default .Site.Title }}
            {{- end }}
          </span>
          {{/*  <span class="banner__banner banner__name--long">{{ .Site.Params.brand.name | default .Site.Title }}</span>  */}}
          <span class="banner__name banner__name--short">
            {{- if .Site.Params.brand.logoShort }}
            <img src="{{ .Site.Params.brand.logoShort }}" alt="{{ .Site.Params.brand.name | default .Site.Title }}" class="brand__logo">
            {{- else if .Site.Params.brand.nameShort }}
            {{ .Site.Params.brand.nameShort | default .Site.Title }}
            {{- else }}
            {{ $words := split (.Site.Params.brand.name | default .Site.Title) " " }}
            {{ range $words }}{{ substr . 0 1 }}{{ end }}
            {{- end }}
          </span>
        </a>
        {{- if not .Site.Params.brand.logo }}
        <p class="banner__tagline">{{ .Site.Params.brand.tagline }}</p>
        {{- end }}
      </div>
      <button id="nav-toggle" class="banner__nav-toggle" title="Open main site navigation">
        Menu
      </button>
    </header>
    
    <nav id="site-nav" class="banner__nav" aria-label="Primary navigation">
      <ul>
        {{- $currentURL := .RelPermalink }}
        {{- range .Site.Menus.main }}
        {{- $active := and (eq $currentURL .URL) }}
        <li{{ if $active }} aria-current="page"{{ end }}>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </nav>
  </div>
  {{- if .IsPage }}
    <progress id="reading-progress" class="site__progress" max="100" value="0" ></progress>
  {{- end }}
</div>