{{- $opts := dict
  "targetPath" "css/style.css"
  "transpiler" "dartsass"
  "vars" .Site.Params.vars
}}
{{- $main := resources.Get "scss/style.scss" | toCSS $opts }}
{{- if .Site.Params.cdn }}
{{- range .Site.Params.Library }}
{{- if eq .type "style" }}
<link href="{{ .path }}" rel="stylesheet">
{{- end }}
{{- end }}
{{- else }}
{{- $libraries := slice }}
{{- range .Site.Params.library }}
{{- if eq .type "style" }}
{{- $libraries = $libraries | append (resources.Get (print "css/" .name ".css")) }}
{{- end }}
{{- end }}
{{- $main = $libraries | append $main | resources.Concat "css/bundle.css" }}
{{- end }}
{{- $styles := $main | minify | fingerprint -}}
<link href="{{ $styles.RelPermalink }}" rel="stylesheet" crossorigin="anonymous" integrity="{{ $styles.Data.Integrity }}">
