{{- if .Site.Params.cdn }}
{{- range .Site.Params.Library }}
{{- if eq .type "style" }}
<link rel="stylesheet" href="{{ .path }}">
{{- end }}
{{- end }}
{{- else }}
{{- $libraries := slice }}
{{- range .Site.Params.library }}
{{- if eq .type "style" }}
{{- $libraries = $libraries | append (resources.Get (print "css/" .name ".css")) }}
{{- end }}
{{- end }}
{{- $libraries = $libraries | resources.Concat "css/libraries.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $libraries.RelPermalink }}" crossorigin="anonymous" integrity="{{ $libraries.Data.Integrity }}">
{{- end }}
