.float {
    &-left {
        float: left;
    }

    &-right {
        float: right;
    }
}

.text-align {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.white-space-normal {
    td,
    th {
        white-space: normal;
        word-break: break-word;
    }
}
