/* Hide Visually and from Screen Readers */

.hidden,
[hidden] {
  display: none !important;
}

/* Hide Visually and from Screen Readers, but Maintain Layout */
.invisible {
  visibility: hidden;
}

/* Hide Visually, but Maintain for Screen Readers */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /* Allow Element to be Focusable via Keyboard */
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}