body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.l-container {
  &_site {
    max-width: $width-site;
  }
  &_content {
    grid-area: content;
    min-width: 0;
  }
  &_left {
    grid-area: left;
    @include break(full-container, max) {
      display: none;
    }
  }
  &_right {
    grid-area: right;
    @include break(main-container, max) {
      display: none;
    }
  }
  &_footer {
    grid-area: footer;
    margin: 1rem auto;
    width: 100%;
  }
}

#site-header {
  @extend %border-float;
  background-color: var(--background-color-card);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  a {
    @extend %underline-base;
    @extend %underline-transparent;
    &:hover, &:focus, &.active {
      @extend %underline-color-accent;
      color: var(--color-accent);
    }
  }
  .l-container_site {
    align-items: center;
    display: flex;
    margin: .5rem auto;
    @include break(main-container) {
      align-items: flex-end;
    }
  }
  &.l-compact {
    .l-container_site {
      align-items: center;
    }
    .branding-tagline {
      display: none;
    }
    .toggle {
      line-height: 0;
    }
  }
  .branding {
    margin-right: auto;
    padding-right: 1rem;
    &-title {
      font-size: clamp(1.2rem, 4vw, 2.074rem);
      font-weight: 900;
      margin: unset; /* Reset h1 */
      a {
        @extend %underline-base;
        @extend %underline-transparent;
        background-position: 0 90%, 100% 90%, 0 90%;
      }
    }
    &-tagline {
      @include break(main-container, max) {
        display: none;
      }
      @include break(main-container) {
        color: var(--color);
        font-family: $font-header;
        font-size: clamp(.8rem, 4vw, 1.2rem);
        font-weight: 200;
        letter-spacing: -1px;
        margin: unset;
        text-align: right;
      }
    }
  }
}

.toggle {
  display: inline-block;
  line-height: 0;
  margin: 0 1rem;
  @include break(main-container) {
    line-height: 1;
    order: 1;
  }
}

.theme-button {
  background: var(--background-color-card);
  border-radius: 50%;
  border: 1px solid var(--color);
  box-shadow: 10px 0 0 0 var(--color);
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

#theme-toggle {
 display: none;
}

.nav-button {
  background-color: var(--color);
  border-radius: var(--border-radius-small);
  display: block;
  height: 2px;
  transition: transform $transition-base,
              background-color $transition-base,
              opacity $transition-base;
  width: 40px;
  z-index: 1;
  &::before {
    @extend .nav-button;
    bottom: 11px;
    content: "";
    margin: unset;
    position: relative;
  }
  &::after {
    @extend .nav-button;
    content: "";
    margin: unset;
    position: relative;
    top: 9px;
  }
}

#nav-toggle {
  border-radius: unset;
  height: 30px;
  margin: unset;
  opacity: 0;
  position: absolute;
  top: 10px;
  transition: none;
  width: 40px;
  z-index: 1;
  &:checked + .nav-button {
    &::before {
      background-color: var(--background-color);
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    &::after {
      background-color: var(--background-color);
      transform: rotate(45deg) translate(-7px, -7px);
    }
  }
}

#site-nav {
  display: flex;
  @include break(main-container) {
    .toggle {
      display: none;
    }
  }
  .menu {
    list-style: none; /* base */
    margin: unset; /* base */
    @include break(main-container, max) {
      background-color: var(--color);
      color: var(--background-color);
      height: 100vh;
      left: 100%;
      overflow-y: auto;
      padding: 5rem 0;
      position: fixed;
      text-align: right;
      top: 0;
      transform: translateX(0);
      transition: transform $transition-base;
      width: 100%;
      &.active {
        transform: translateX(-100%);
      }
    }
    &-item {
      @include break(main-container, max) {
        font-size: 1.44rem;
        padding: .5rem 1rem;
        a {
          background-position: 0 90%, 0 90%, 100% 90%;
          padding: .5rem 1rem;
          text-shadow: -2px 0px 0 var(--color),
                        -2px -1px 0 var(--color),
                        -2px 1px 0 var(--color),
                        0px 1px 0 var(--color),
                        1px 1px 0 var(--color),
                        2px 1px 0 var(--color);
          &:hover, &:focus, &.active, &.active-mobile {
            background-size: 0 1px, 0 1px, 100% 32%;
          }
        }
      }
      @include break(main-container) {
        display: inline-block;
      }
      a {
        display: block;
        @include break(main-container) {
          margin: 0 .5rem;
        }
      }
    }
  }
}

#reading-progress {
  margin: 0 -1rem;
  position: absolute;
  z-index: -1;
}

#site-main {
  background-color: var(--background-color);
  display: grid;
  flex-grow: 1;
  max-width: 100%;
  grid-template-areas:  "l content r"
                        "l footer r";
  grid-template-columns: minmax(1.25rem, 1fr) minmax(auto, $width-content) minmax(1.25rem, 1fr);
  @include break(main-container) {
    column-gap: 2rem;
    grid-template-areas:  "l content right r"
                          "l content . r"
                          "l footer . r";
    grid-template-columns: minmax(1.25rem, 1fr) minmax(auto, $width-content) auto minmax(1.25rem, 1fr);
    grid-template-rows: auto 1fr auto;
  }
  @include break(full-container) {
    grid-template-areas:  "l left content right r"
                          "l . content . r"
                          "l . footer . r";
    grid-template-columns: minmax(1.25rem, 1fr) auto minmax(auto, $width-content) auto minmax(1.25rem, 1fr);
  }
}

#site-footer {
  text-align: center;
  color: var(--color);
  font-size: small;
  a {
    text-shadow: -2px 0px 0 var(--background-color),
                  -2px -1px 0 var(--background-color),
                  -2px 1px 0 var(--background-color),
                  0px 1px 0 var(--background-color),
                  1px 1px 0 var(--background-color),
                  2px 1px 0 var(--background-color);
  }
}
