/* Mixins */

$breakpoints: (
  main-container: calc(#{$width-content-min} + #{$width-aside-min} * 1.75),
  full-container: calc(#{$width-content-min} + #{$width-aside-min} * 3.25)
);

@mixin break($breakpoint, $limit:min) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    $param: "min-width";
    @if $breakpoint == tall {$param: $limit+"-height";}
    @else {$param: $limit+"-width";}
    @media screen and ($param: $value) {
      @content
    }
  }
  @else {
    @warn "Unknown `#{$breakpoint}` in $breakpoints";
  }
};

%underline-base {
  background-image: linear-gradient(transparent, transparent),
                    linear-gradient(currentColor, currentColor),
                    linear-gradient(var(--color-accent), var(--color-accent));
  background-position: 0 85%, 100% 85%, 0 85%;
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px, 0 1px;
  text-shadow: -2px 0px 0 var(--background-color-card),
                -2px -1px 0 var(--background-color-card),
                -2px 1px 0 var(--background-color-card),
                0px 1px 0 var(--background-color-card),
                1px 1px 0 var(--background-color-card),
                2px 1px 0 var(--background-color-card);
}

%underline-transparent {
  background-size: 100% 1px, 0 1px, 0 1px;
}

%underline-color-accent {
  background-size: 0 1px, 0 1px, 100% 1px;
}

%border-float {
  border-bottom: 5px solid var(--background-color-alt);
}
