/* Document Element */

html {
  font-size: 1.125rem;
  @include break(main-container) {
    font-size: 1.25rem;
  }
  --border-radius-small: #{$border-radius-small};
  --border-radius-large: #{$border-radius-large};
  --color-accent: #{$color-accent};
  --color-accent-contrast: #{$color-accent-contrast};
  --color-primary: #{$color-primary};
  --color-primary-contrast: #{$color-primary-contrast};
  --color-block: #{$color-block};
  --color-button: #{$color-button};
  --color-button-contrast: #{$color-button-contrast};
  &[data-theme="light"] {
    --color: #{$light-color};
    --background-color: #{$light-background-color};
    --background-color-card: #{$light-background-color-card};
    --color-alt: #{$light-color-alt};
    --background-color-alt: #{$light-background-color-alt};
    --background-color-block: #{$light-background-color-block};
    --background-color-block-alt: #{$light-background-color-block-alt};
    --color-link: #{$light-color-link};
    --border-color: #{$light-border-color};
  }
  &[data-theme="dark"] {
    --color: #{$dark-color};
    --background-color: #{$dark-background-color};
    --background-color-card: #{$dark-background-color-card};
    --color-alt: #{$dark-color-alt};
    --background-color-alt: #{$dark-background-color-alt};
    --background-color-block: #{$dark-background-color-block};
    --background-color-block-alt: #{$dark-background-color-block-alt};
    --color-link: #{$dark-color-link};
    --border-color: #{$dark-border-color};
    --image-filter: #{$dark-image-filter};
    img:not([src*='.svg']) {
      filter: var(--image-filter);
    }
  }
}

/* Section Elements */

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: $font-body;
  line-height: 1.65;
}

h1, h2, h3, h4, h5 {
  font-family: $font-header;
  font-weight: 700;
  line-height: 1.3;
  margin: 3rem 0 1.38rem 0;
  scroll-margin-top: 4rem;
  code {
    font-size: .65em;
  }
}

h1 {
  font-size: 2.488rem;
  margin-top: 0;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  display: none;
}

/* Grouping Elements */

p {
  margin-bottom: 1rem;
  word-break: break-word;
  a {
    @extend %underline-base;
    background-position: 0 95%, 100% 95%, 0 95%;
    code {
      @extend %underline-transparent;
      text-shadow: none;
      transition: background-color $transition-base;
      &:hover {
        background-color: var(--color-accent);
      }
    }
  }
  code {
    font-size: small;
    vertical-align: middle;
  }
}

hr {
  margin: 2rem;
  opacity: 0.5;
}

pre {
  overflow-x: auto;
  padding: 2rem 1rem 1rem 1rem;
  white-space: pre;
  code {
    background-color: unset;
    color: unset;
    padding: 0;
  }
}

// Dark scroll for preformatted text and tables
pre, table {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    height: 7px;
  }
  scrollbar-color: var(--color) var(--background-color);
  &::-webkit-scrollbar-track {
    background: var(--background-color);
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: var(--border-radius-large);
    border: 1px solid var(--background-color);
  }
}

// Light scroll for codeblock
.highlight pre {
  @extend %border-float;
  background-color: var(--background-color-block) !important;
  border-radius: var(--border-radius-small);
  color: var(--color-block) !important;
  scrollbar-color: var(--background-color-block) var(--color-block);
  &::-webkit-scrollbar-track {
    background: var(--background-color-block);
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-block);
    border-radius: var(--border-radius-large);
    border: 1px solid var(--background-color-block);
  }
}

blockquote {
  border-left: 3px solid var(--color-accent);
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
}

ul, ol {
  line-height: 1.5;
}

dl {
  display: grid;
  grid-template-columns: 30% 1fr;
}

dt {
  background: var(--background-color-block);
  color: var(--color-block);
  padding: .5rem;
  text-align: right;
  &:not(:first-of-type) {
    border-left: 1px solid var(--background-color-block);
    border-top: 1px solid var(--color-block);
  }
}

dd {
  border: 1px solid var(--background-color-block);
  grid-column: 2;
  margin: 0;
  padding: .5rem;
  &:not(:first-of-type) {
    border-top: 0;
  }
}

details{
  border: 1px solid var(--background-color-block);
  &[open] {
    padding: .5rem;
    summary {
      margin: -.5rem -.5rem .5rem -.5rem;
    }
  }
}

summary {
  background: var(--background-color-block);
  color: var(--color-block);
  display: list-item;
  padding: .5rem;
}

figure {
  margin: 0;
  text-align: center;
  > a, a:hover {
    background: none;
  }
}

figcaption {
  font-size: 0.85rem;
  margin: 0 auto;
  max-width: 60ch;
  opacity: .75;
  padding: 0 2rem;
  text-align: center;
}

audio {
  margin: 0 auto;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-accent);
  height: 5px;
  width: 100%;
  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-webkit-progress-value {
    background-color: var(--color-accent);
  }
  &::-moz-progress-bar {
    background-color: var(--color-accent);
  }
}

/* Text-Level Semantic Elements */

a {
  color: inherit;
  text-decoration: none;
  transition: background-size $transition-base,
              color $transition-base;
  &:hover, &:focus {
    background-size: 0 1px, 0 1px, 100% 1px;
    color: var(--color-accent);
  }
}

cite {
  display: block;
  text-align: right;
  &::before {
    content: "—";
    margin-right: .5rem;
  }
}

code {
  background-color: var(--background-color-block);
  border-radius: var(--border-radius-small);
  color: var(--color-block);
  padding: .25rem .5rem;
  &[data-lang]::before {
    background-color: var(--color-primary);
    box-shadow: 3px 3px var(--color-block);
    color: var(--color-primary-contrast);
    content: attr(data-lang);
    display: block;
    font-size: .75em;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    padding: 0 .5em;
    position: absolute;
  }
}

del {
  text-decoration: var(--color) line-through;
}

abbr[title] {
  border: 0;
}

kbd {
  align-items: center;
  border-radius: var(--border-radius-small);
  border-style: solid;
  border-width: 1px 1px 3px;
  display: inline-flex;
  font-size: small;
  justify-content: center;
  margin: 0 .25rem;
  min-height: 3ch;
  min-width: 3ch;
  padding: 0 .5rem;
  vertical-align: middle;
}

/* Embedded Content Elements */

img {
  height: auto;
  max-width: 100%;
}

video {
  max-width: 100%;
}

// TODO: Custom Audio Player

/* Tabular Data Elements */

table {
  @extend %border-float;
  border-collapse: collapse;
  border-radius: var(--border-radius-small);
  display: block;
  margin: 0 auto;
  max-width: fit-content;
  overflow-x: auto;
  text-align: left;
  white-space: nowrap;
}

tbody tr {
  background-color: var(--background-color-card);
}

thead, tfoot {
  background-color: var(--background-color-block);
  color: var(--color-block);
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: var(--background-color-block-alt);
}

td, th {
  padding: .25rem .75rem;
  vertical-align: middle;
  white-space: nowrap;
  &:first-of-type {
    padding-left: 2rem;
  }
  &:last-of-type {
    padding-right: 2rem;
  }
}

/* Form Elements */

label {
  cursor: pointer;
  display: flex;
  margin: 1rem 0;
  white-space: nowrap;
  &.stacked {
    flex-direction: column;
  }
  &.inline {
    align-items: center;
    input, textarea, select {
      margin-left: 1rem;
    }
  }
}

input, select, textarea  {
  border-radius: var(--border-radius-large);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  margin: .5rem 0;
  padding: .5rem 1rem;
  transition: border-color $transition-base,
              box-shadow $transition-base;
  width: 100%;
  &:hover, &:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 2px var(--background-color-card),
                0 0 0 4px var(--color-accent);
    outline: none;
  }
  &:disabled {
    background-color: var(--background-color-alt);
    border-color: var(--background-color-alt);
    cursor: not-allowed;
    &:hover, &:focus {
      box-shadow: none;
    }
  }
}

input {
  &[type="checkbox"], &[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 16px;
    margin: 0 1rem;
    width: 16px;
    &:checked, &:hover, &:focus, &:focus-visible {
      border-color: var(--color-accent);
    }
    &:disabled {
      background-color: var(--background-color-alt);
      border-color: var(--background-color-alt);
      cursor: not-allowed;
      &:focus, &:focus-visible, &:hover {
        border-color: var(--background-color-alt);
      }
    }
  }
  &[type="checkbox"] {
    border-radius: 33%;
    &:checked {
      background-image: linear-gradient( -45deg, transparent 65%, var(--color-accent) 0),
                        linear-gradient( 45deg, transparent 75%, var(--color-accent) 0),
                        linear-gradient( -45deg, var(--color-accent) 40%, transparent 0),
                        linear-gradient( 45deg, var(--color-accent) 30%, var(--color-accent-contrast) 0, var(--color-accent-contrast) 40%, transparent 0),
                        linear-gradient( -45deg, var(--color-accent-contrast) 50%, var(--color-accent) 0);
      background-repeat: no-repeat;
    }
  }
  &[type="radio"] {
    &:checked {
      background-color: var(--color-accent);
      box-shadow: 0 0 0 3px var(--background-color-card) inset;
      &:focus, &:focus-visible {
        box-shadow: 0 0 0 3px var(--background-color-card) inset,
                    0 0 0 2px var(--background-color-card),
                    0 0 0 4px var(--color-accent);
      }
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 0),
                    linear-gradient(135deg, currentColor 50%, transparent 0);
  background-position: calc(100% - 20px) calc(1px + 50%), calc(100% - 16px) calc(1px + 50%);
  background-size: 4px 4px, 4px 4px;
  background-repeat: no-repeat;
  cursor: pointer;
  user-select: none;
}

textarea {
  line-height: 1.5;
  resize: vertical;
  &:disabled {
    resize: none;
  }
}

button {
  background-color: var(--background-color-card);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--color);
  color: var(--color);
  cursor: pointer;
  margin: .5rem 0;
  padding: .5rem 1.5rem;
  user-select: none;
  transition: background-color $transition-base,
              color $transition-base;
  &:not(:last-of-type) {
    margin-right: 1em;
  }
  &:hover {
    background-color: var(--color);
    color: var(--background-color-card);
  }
  &:disabled, &.disabled {
    background-color: var(--background-color-alt);
    border-color: var(--background-color-alt);
    color: var(--color);
    cursor: not-allowed;
  }
}
