.text {
  &-h1 {
    @extend h1;
  }
  &-h2 {
    @extend h2;
  }
  &-h3 {
    @extend h3;
  }
  &-h4 {
    @extend h4;
  }
  &-h5 {
    @extend h5;
  }
}

.button {
  @extend button;
  background-size: 0;
  text-shadow: none;
}

.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

.text-align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.white-space-normal {
  td, th {
    white-space: normal;
    word-break: break-word;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade {
  @include break(main-container) {
  animation: fade .75s;
  }
}

/* ==========================================================================
Screenreader styles.
========================================================================== */

/* Hide Visually and from Screen Readers */

.hidden,
[hidden] {
  display: none !important;
}

/* Hide Visually and from Screen Readers, but Maintain Layout */
.invisible {
  visibility: hidden;
}

/* Hide Visually, but Maintain for Screen Readers */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /* Allow Element to be Focusable via Keyboard */
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}

/* ==========================================================================
Print styles.
========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /* Hide Non-Content Links */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #000;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
