@charset 'utf-8';

/* Fonts */
$font-header: 'Playfair Display', serif;
$font-body: 'Source Sans Pro', sans-serif;

/* Transitions */
$transition-base: .3s ease-in-out;

/* Borders */
$border-radius-small: 5px;
$border-radius-large: 10px;

/* Global Colors */
$accent: hsl(174, 60%, 51%);
$accent-contrast: hsl(0, 0%, 95%);
$primary: hsl(203, 82%, 41%);
$primary-contrast: hsl(0, 0%, 95%);
$color-block: hsl(0, 0%, 100%);
$color-button: hsl(220, 16%, 22%);
$background-color-button: hsl(0, 0%, 100%);

/* Light Colors */
$light-color: hsl(220, 16%, 22%);
$light-background-color: hsl(0, 0%, 93%);
$light-background-color-card: hsl(0, 0%, 98%);
$light-color-alt: hsl(236, 18%, 48%);
$light-background-color-alt: hsl(0, 0%, 86%);
$light-background-color-block: hsl(220, 16%, 22%);
$light-background-color-block-alt: hsl(220, 16%, 88%);
$light-color-link: hsl(203, 82%, 41%);
$light-border-color: hsl(220, 16%, 36%);

/* Dark Colors */
$dark-color: hsl(0, 0%, 95%);
$dark-background-color: hsl(220, 16%, 16%);
$dark-background-color-card: hsl(220, 16%, 22%);
$dark-color-alt: hsl(236, 18%, 68%);
$dark-background-color-alt: hsl(220, 16%, 28%);
$dark-background-color-block: hsl(220, 16%, 16%);
$dark-background-color-block-alt: hsl(220, 16%, 28%);
$dark-color-link: hsl(203, 82%, 65%);
$dark-border-color: hsl(219, 28%, 88%);
$dark-image-filter: grayscale(35%);

{{- range $taxonomyname, $taxonomy := .Site.Taxonomies }}
{{- range $taxonomy }}
{{- if or .Page.Params.backgroundColor .Page.Params.textColor }}
.card, .card-banner {
  &[data-taxonomy="{{ print .Page.Section "-" .Page.Title | urlize }}"] {
    background-color: {{ .Page.Params.backgroundColor | default "var(--primary)" }};
    color: {{ .Page.Params.textColor | default "var(--primary-contrast)" }};
  }
}
{{- end }}
{{- end }}
{{- end }}

@import "vendor/__vendor-dir";/* Variables */
@import "mixins";
@import "typography";
@import "utility";
@import "components/__components-dir";
@import "layouts";
@import "shame";
