.card {
  $block: &;
  display: flex;
  flex-direction: column;
  grid-column: span 12;

  @include break(54rem) {
    grid-column: span 6;

    &--featured {
      display: flex;
      flex-direction: row;
      grid-column: span 12;

      #{$block}__cover {
        flex: 3 1 0;

        img {
          height: 100%;
          min-height: 400px;
        }
      }

      #{$block}__content {
        display: flex;
        flex: 2 1 0;
        flex-direction: column;
        justify-content: center;
        margin: 0;
      }

      #{$block}__description {
        display: block;
      }
    }
  }

  @include break(72rem) {

    &__cover {
      img {
        min-height: 275px;
      }
    }
    &--additional {
      font-size: .8rem;
      grid-column: span 4;

      #{$block}__cover {
        img {
          min-height: 175px;
        }
      }

      #{$block}__description {
        display: none;
      }
    }
  }

  &:hover {
    #{$block}__cover {
      img {
        transform: scale(1.01);
      }
    }
  }

  &__cover {
    overflow: hidden;

    img {
      min-height: 200px;
      transition: transform 1s;
      object-fit: cover;
    }

    &--headshot {
      z-index: 1;

      img {
        height: 100px;
        margin: 0;
        border: 5px solid var(--background-color);
        border-radius: 100%;
      }
    }
  }

  &__content {
    position: relative;
    flex-grow: 1;
    margin: -3rem 1rem 0 1rem;
    padding: 2rem;
    background-color: var(--background-color-card);

    &--under {
      padding-top: 8rem !important; //TODO: remove this
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__series {
    margin-right: 1rem;
    font-weight: bold;
  }

  &__date {
    font-size: .8rem;
    color: var(--color-alt);
  }

  &__title {
    margin-top: .5rem;
    line-height: 1;
    word-break: break-word;

    &--author {
      margin-bottom: 0 !important; //TODO: remove this
    }

    &--term {
      margin: 0;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: .85rem;
    text-align: center;
    color: var(--color-alt);
  }

  &__description {
    margin-bottom: 0;
  }

  &--page {
    height: fit-content;
    grid-column: span 12;

    &:hover {
      #{$block}__cover {
        img {
          transform: unset;
        }
      }
    }

    #{$block}__meta {
      justify-content: center;
    }

    #{$block}__date {
      margin-right: 0;
    }

    #{$block}__title {
      margin: 1.38rem 0;
      text-align: center;
    }

    #{$block}__content {
      max-width: 50rem;
      margin: -8rem 1rem 0;
      padding: 3rem clamp(1rem, 5vw, 6rem);

      @include break(54rem) {
        margin: -8rem auto 0;
      }

      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ul,
      ol,
      dl,
      blockquote,
      pre,
      code,
      hr,
      dl,
      details,
      audio {
        max-width: 35rem;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &--coverless {
    #{$block}__content {
      margin-top: 0;
    }
  }
  &--author {
    flex-direction: row;
    grid-column: span 12;
    #{$block}__cover {
      width: 200px;
      height: 200px;
    }
    #{$block}__content {
      margin: 0;
      padding: 1.5rem 1rem;
      height: fit-content;
    }
  }
}