{{- define "main" }}
    {{ $paginator := .Paginate (cond .IsHome (where site.RegularPages "Type" "in" site.Params.mainSections) (.Data.Pages) ) }}
    {{ $counter := 0 }}
    {{ range $paginator.Pages }}
        <article class="card{{ if eq $counter 0 }} card--featured{{ else if gt $counter 2 }} card--additional{{ end }}{{ if not .Params.feature }} card--coverless{{ end }}">
            {{- if .Params.feature }}
                {{ .Scratch.Set "processing" "resize" }}
                {{ .Scratch.Set "size" "x1000" }}
                {{ $thumbnail := partialCached "function/resize-image" . .Page }}
                <figure class="card__cover">
                    <a href="{{ .RelPermalink }}"><img src="{{ $thumbnail }}" alt="{{ .Params.featureAlt | default .Params.featureCaption | default "A Decorative Image" }}" height="500px"></a>
                </figure>
            {{- end }}
            <div class="card__content">
                <div class="card__header">
                    {{ with .Params.series }}<a href="/series/{{ . | urlize }}" class="card__series" data-taxonomy="{{ print "series-" . | urlize }}">{{ . }}</a>{{ end }}
                    <h2 class="card__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    {{ with .Params.subtitle }} <span class="card__subtitle">{{ . }}</span>{{ end }}
                    {{ with .Params.authors }}
                    <div class="card__meta">
                        <span class="card__authors">
                            {{ $authors := . }}
                            {{ $count := len $authors }}
                            {{ if eq $count 1 }}
                                {{ index $authors 0 }}
                            {{ else if eq $count 2 }}
                                {{ index $authors 0 }} and {{ index $authors 1 }}
                            {{ else }}
                                {{ range $index, $author := $authors }}
                                    {{ if gt $index 0 }}, {{ end }}{{ $author }}
                                    {{ if eq $index (sub $count 1) }} and {{ end }}
                                {{ end }}
                            {{ end }}
                        </span>
                        {{ end }}
                        {{ with .PublishDate }}<time datetime="{{ . }}" class="card__date">{{ cond (eq (.Format "2006") (now.Format "2006")) (.Format "Jan 2") (.Format "2 Jan 2006") }}</time>{{ end }}
                    </div>
                </div>
                <div class="card__description">{{ .Params.description | default (.Summary | truncate 200 "...") }}</div>
            </div>
        </article>
        {{ $counter = add $counter 1 }}
    {{- end }}
{{- end }}

{{- define "pagination" }}
    {{ partial "site/pagination" . }}
{{- end }}