@use "../abstract" as *;

.banner {
    $block: &;
    @extend %border-float;
    position: sticky;
    top: -3rem;
    z-index: 10;
    transition: top var(--transition-base);

    @media screen and (min-width: 50rem) {
        top: -13rem;
        border-width: 0;
        transition: none;
    }

    &__skip {
        position: absolute;
        z-index: 2;
        padding: 0 0.5rem;
        color: var(--color-canvas);
        background-color: var(--color-text);
        transform: translateY(-110%);
        transition: transform var(--transition-base);

        &:focus {
            color: var(--color-canvas);
            transform: translateY(0%);
        }
    }

    &__header {
        position: relative;
        display: flex;
        height: 3rem;
        background-color: var(--color-canvas-tint);

        @media screen and (min-width: 50rem) {
            height: 12rem;
            background-color: unset;
        }
    }

    &__brand {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-left: 1rem;
        margin-top: 0;
        font-family: var(--font-header);
        font-variant: small-caps;
        letter-spacing: 7px;

        @media screen and (min-width: 50rem) {
            flex-direction: column;
            margin: 4rem 0;
        }

        a {
            display: flex;
            font-size: typeScale(2);
            line-height: 1;
            @media screen and (max-width: 50rem) {
                span {
                    margin-top: -0.25rem;
                }
            }
            @media screen and (min-width: 50rem) {
                font-size: typeScale(4);
            }
        }

        img {
            width: 100%;
            min-height: 100px;
        }
    }

    &__name {
        &--long {
            @media screen and (max-width: 30rem) {
                display: none;
            }

            @media screen and (max-width: 50rem) {
                letter-spacing: 0;
            }
        }

        &--short {
            display: none;
            letter-spacing: 0;

            @media screen and (max-width: 30rem) {
                display: block;
            }
        }
    }

    &__tagline {
        display: none;
        margin-top: 0.5rem;
        letter-spacing: 2px;

        @media screen and (min-width: 50rem) {
            display: block;
        }
    }

    &__nav-toggle {
        width: 5rem;
        margin: 0;
        font-size: typeScale(1, down);
        text-align: center;
        text-transform: uppercase;
        background-color: var(--color-ui-float);
        border: 0;
        border-radius: 0;

        @media screen and (min-width: 50rem) {
            display: none;
        }
    }

    &__nav {
        ul {
            position: absolute;
            right: 0;
            z-index: -1;
            width: 100%;
            margin: unset;
            padding: unset;
            list-style: none;
            text-align: right;
            text-transform: uppercase;
            background-color: var(--color-ui-float);
            transform: translateY(-125%);
            transition: transform var(--transition-base);

            @media screen and (min-width: 50rem) {
                position: relative;
                z-index: unset;
                display: flex;
                justify-content: center;
                width: unset;
                background-color: transparent;
                border-bottom: 1px solid var(--color-ui-float);
                transform: translateY(0%);
            }

            li {
                padding: 1rem;
                font-size: typeScale(1);

                @media screen and (min-width: 50rem) {
                    padding: 0.5rem 2rem;
                    font-size: typeScale(1, down);
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 0.25rem 0;
                    background-position: 0 90%, 0 90%, 100% 90%;
                }

                &[aria-current="page"] {
                    @media screen and (min-width: 50rem) {
                        border-bottom: 5px solid var(--color-text-link);
                    }

                    a {
                        color: var(--color-text-link);
                    }
                }
            }
        }

        &.banner__nav--open ul {
            transform: translateY(0%);
        }
    }

    &--float {
        top: 0rem;
        transition: top var(--transition-base);

        @media screen and (min-width: 50rem) {
            background-color: var(--color-canvas-tint);
            border-width: 5px;

            #{$block}__header {
                height: unset;
            }

            #{$block}__brand {
                align-items: flex-start;
                margin: 0 2rem 0 0;

                a {
                    font-size: typeScale(2);
                }

                p {
                    display: none;
                }
            }

            #{$block}__name--long {
                letter-spacing: 2px;
            }

            #{$block}__nav {
                height: fit-content;

                ul {
                    border-bottom: unset;

                    li {
                        padding: 0 0.75rem;
                    }
                }
            }

            .site__container {
                display: flex;
                align-items: center;
                padding: 0.5rem;
            }
        }
    }
}
