@use "../abstract" as *;

.footer {
    font-size: typeScale(1, down, em);
    color: var(--color-text);
    background-color: var(--color-canvas-tint);

    p {
        margin: 0;
        padding: 0.5em;
    }

    a {
        text-shadow: -2px 0px 0 var(--color-canvas),
            -2px -1px 0 var(--color-canvas), -2px 1px 0 var(--color-canvas),
            0px 1px 0 var(--color-canvas), 1px 1px 0 var(--color-canvas),
            2px 1px 0 var(--color-canvas);
    }

    &__button {
        margin: 0;
        padding: 0.5em;
        vertical-align: middle;
        background-color: var(--color-canvas-tint);
        border: 0;

        &:hover {
            color: var(--color-text);
            background-color: var(--color-ui-float);
        }

        span {
            display: inline-block;
            min-width: 3ch;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    & .site__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}
