body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.site {
    &__container {
        width: 100%;
        max-width: 74rem;
        margin: auto;
        grid-column: span 12;
    }

    &__progress {
        position: absolute;
        bottom: -5px;
        z-index: 1;
    }

    &__main {
        flex-grow: 1;
        background-color: var(--color-canvas);
    }
}
