.author {
  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  &-item {
    align-items: center;
    display: flex;
    margin-right: 1rem;
    white-space: nowrap;
    @include break(main-container, max) {
      margin: .5rem;
    }
  }
  &-headshot {
    border-radius: 50%;
    margin-right: .5rem;
  }
  &-meta {
    display: flex;
    flex-direction: column;
  }
  &-name {
    @extend %underline-base;
    @extend %underline-transparent;
    color: var(--color-link);
    font-weight: 700;
    width: fit-content;
  }
  &-assignment {
    color: var(--color-alt);
    font-size: .85rem;
    margin: 0;
  }
  &-bio {
    line-height: 1.4;
    margin-top: .5rem;
    p {
      margin-top: 0;
    }
  }
}

.card_author {
  @extend .card;
  margin-top: 115px;
  &.headshot-small {
    text-align: center;
    margin-top: 65px;
    .card-header figure {
      height: 50px;
      top: -65px;
    }
    .card-title {
      @extend h4;
      margin: 0;
    }
  }
  .card-header figure {
    position: relative;
    height: 100px;
    top: -115px;
    img {
      border: 5px solid var(--background-color);
      margin: 0;
    }
  }
}
