.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;

  &__button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color $transition-base,
      color $transition-base;

    &--active,
    &:hover,
    &:focus {
      color: var(--accent);
      background-color: var(--background-color-card);
    }

    &--active {
      cursor: default;
    }

    &--disabled {
      color: var(--background-color-alt);
      cursor: not-allowed;

      &:hover,
      &:focus {
        color: var(--background-color-alt);
        background-color: inherit;
      }
    }

    &--left,
    &--right {
      width: calc(50% - 2rem);
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__title {
    display: block;
    width: 100%;
    padding: .5rem 1rem;

    &::before,
    &::after {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &--first::before {
      content: "««";
    }

    &--previous::before {
      content: "«";
    }

    &--next::after {
      content: "»";
    }

    &--last::after {
      content: "»»";
    }
  }

  &__label {
    display: block;
    font-size: 0.85rem;
    color: var(--color-alt);
    text-transform: uppercase;

    &--previous {
      &::before {
        content: "«";
        margin-right: 0.5rem;
      }
    }

    &--next {
      &::after {
        content: "»";
        margin-left: 0.5rem;
      }
    }
  }
}