@use '../abstract' as *;

figure {
    margin: 0;
    text-align: center;

    > a,
    a:hover {
        background: none;
    }
}

figcaption {
    max-width: 60ch;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: typeScale(-1);
    text-align: center;
    opacity: 0.75;
}

img {
    max-width: 100%;
    height: auto;

    &:not([src*='.svg']) {
        filter: var(--image-filter);
    }
}
