<div class="card__meta">
  {{ with .PublishDate }}<time datetime="{{ . }}" class="card__date">{{ cond (eq (.Format "2006") (now.Format "2006")) (.Format "Jan 2") (.Format "2 Jan 2006") }}</time>{{ end }}
  {{ with .Params.Series }}<a href="/series/{{ . | urlize }}" class="card__series" data-taxonomy="{{ print "series-" . | urlize }}">{{ . }}</a>{{ end }}
  {{/*  <span class="card__time">{{ .ReadingTime }} min read</span>  */}}
</div>
<h1 class="card__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>